body{
background-color: lightgoldenrodyellow;
font-family: cursive;

}
h1{
    margin-bottom: 100px;
    text-align: end;

}
p{
    text-align: center; 
}
li{
    padding: 50px;
    text-align: center;
    list-style: none;
    border: 3px solid black;
}